# Dependencies
node_modules/

# macOS
.DS_Store
._*

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
.miniprogram/

# Lock files
package-lock.json
